# Compilados do Java
*.class
*.jar
*.war
*.ear

# Diretórios de build
/build/
/target/
/out/

*.log

.DS_Store
Thumbs.db

*.swp
*.swo
*.tmp

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

.env
*.env

# Test reports
/test-output/
/surefire-reports/
/jacoco.exec

# Maven wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

*.h2.db
*.mv.db

*.lock
*.log
*.bak
*.tmp

docker-compose.override.yml

*.csv
*.xml
*.yml
